
body .icon{
    position: relative;
    filter: none;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    padding: 7px;
    transition: .1s;
    display: inline-block;
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    text-align: center;
    box-sizing: content-box;
}

.icon-div{
   position: fixed;
   /* right: 3px;  */
   /* bottom: 0px;  */
}


.person{
    height: 35px;
    width: 35px;
    display: block;
    padding: 0;
    margin: 0;
    background: 0 0;
    border: none;
}

/* .image-div{
    position: relative;
}
.logo-div{
    position: absolute;
}*/

.logo-image{
    height: 70px;
    width: 200;
    /* position: fixed; */
    top: 0;
} 

.nav-div{
    margin-top: 90px !important;
}
.image {
    position: absolute;
    text-align: center;
    color: rgb(21, 27, 30);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-div{
    margin-top: 143px;
}
 .banner-image{
    height:  500px;
    width: 100%;
 } 


.button-style:visited{
    background-color: white;
    color: black !important;
}
.button-style:hover{
    background-color: #337ab7;
    color: whitesmoke !important;
}

.a-link:visited{
    color: rgb(14, 1, 1);
}
.a-link:hover{
    color: #337ab7;
}
/* card style */
.card-div{
    padding: 4% 0;

    background: linear-gradient(180deg, #278CC9, #ffffff);
}
/* Dr image style */

.DR-image{
    height: 180px;
    object-fit:cover;
}

/* DR card style */
.cards{

    transition: all 0.2s ease;
    cursor: pointer;
    

  }
.cards:hover{

    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}

/* navbar */
.nav-ul:hover{
    background-color: white;
    color: #278CC9 !important;
}

/*  service */
.service-div{
    width: 100%;
    padding: 6% 0 !important;
    background: linear-gradient(132deg, #278cc94a, #ffffff4a, #278cc94a) !important;
    position: relative;
}
/* .cards-img{ */
    /* position: absolute; */
    /* border-radius: 50%;
    background-color: var(--w1vymkkz-6);

} */



.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
  }

  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    border-radius: 50%;
    background-color: #278CC9;
    color: black;
  }
  
  .flip-card-back {
    border-radius: 8px;
    height: 240px;
    background-color: #278CC9;
    color: white;
    transform: rotateY(180deg);
  }

/* over viwe */
.box-sty{
    margin: 0px 185px;
    /* border-radius: 50%; */
}



.avatar {
    /* vertical-align: middle; */
    margin-top: 20px;
    margin-right: 20px;
    width: 90px;
    height: 50px;
    border-radius: 50%;
}
.avatar-image{
    width: 90px;
    height: 50px;
}




/* footer link */
.b-link:visited{
    color: #278CC9 ;

    
}

.b-link:hover{
    color: black;
}

#images{
    background: url("./images/images.jpg") left top repeat;
    border-radius: 15px;
}

/* font style */
.font{
    font-family:'Cinzel', sans-serif !important;
}

.card-div h5{
    font-family:'Cinzel', sans-serif !important;

}
.sty-h-tag{
    color: #278CC9; 
    font-family:'Cinzel', sans-serif !important;
    font-weight: 500;
}

.styl-p-tag{
    
    font-family: 'Montserrat' !important; 
    font-weight: 500 !important; 
    text-align: justify;
}

.styls-h-tag{
    font-family: 'Cinzel', sans-serif !important;
}

.image-sm{
    
    height: 80px;
    width: 100%;
}

.gallery-image{
    height: 150px;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}
